<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>
<div style="text-align:center">
    <h1>Регистрация</h1>
    <form th:method="POST" th:action="@{/users/create}" th:object="${user}">
        <label for="username">Введите логин</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Некорректный логин
        </div>
        <br/>
        <label for="password">Введите пароль</label>
        <input type="password" th:field="*{password}" id="password"/>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Некорректный пароль
        </div>
        <br/>
        <label for="name">Введите ваше имя</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
            Некорректное имя
        </div>
        <br/>
        <label for="email">Введите email</label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            Некорректный email
        </div>
        <br/>
        <label for="email">Введите город проживания</label>
        <input type="text" th:field="*{city}" id="city"/>
        <div style="color: red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">
            Некорректный город проживания
        </div> <br/>
        <label for="role">Выберете роль</label>
        <select path="role" th:field="*{role}" id="role">
            <option value="ROLE_USER">Пользователь</option>
            <option value="ROLE_MODERATOR">Модератор</option>
        </select><br/><br/>
        <input type="submit" value="Зарегистрировать"/>
    </form>
</div>
</body>
</html>