<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получение пользователя</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar">
    <form action="/items/search" method="get">
        <input type="text" name="text" />
        <button type="submit">Найти</button>
    </form> <br>
    <ul>
        <li><a th:href="@{/items/city}">В моем городе делятся</a></li>
        <li><a th:href="@{/items/top}">Сейчас особенно актуально</a></li>
        <li><a th:href="@{/items/owner}">Мои вещи</a></li>
        <li><a th:href="@{/bookings/owner}">Бронирование моих вещей</a></li>
        <li><a th:href="@{/bookings/}">Я забронировал</a></li>
        <li><a th:href="@{/requests/}">Мои запросы</a></li>
        <li><a th:href="@{/requests/all}">Все запросы</a></li>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Выйти">
        </form>
    </ul>
</nav>
<h2>Данные о пользователе</h2>
<ul>
    <li>Логин: <span th:text="${user.getUsername()}"></span></li>
    <li>Имя: <span th:text="${user.getName()}"></span></li>
    <li>Email: <span th:text="${user.getEmail()}"></span></li>
    <li>Город: <span th:text="${user.getCity()}"></span></li>
</ul>
<br>

<div th:if="${userId == user.getId()}">
    <a th:href="@{/users/update}">Обновить данные о себе</a> <br>
    <form method="post" th:action="@{/users/delete/{userId}(userId=${user.getId()})}">
        <input type="hidden" name="_method" value="DELETE"/>
        <button type="submit">Удалить аккаунт</button>
    </form></div>
</body>
</html>