<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск вещей по тексту</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>
<div>
    <h2>Создать запрос на вещь</h2>
    <form th:action="@{/requests}" method="post" th:object="${request}">
        <label for="description">Введите название вещи, которую хотите найти</label>
        <input type="text" th:field="*{description}" id="description"/>
        <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
            Описание запроса не может быть пустым
        </div>
        <button type="submit">Создать запрос</button>
    </form>
</div>
<h2>Результаты поиска по запросу</h2>
<ul>
  <li th:each="item : ${items}">
    <a th:href="@{'/items/' + ${item.getId()}}" th:text="${item.getName()}"></a>
  </li>
</ul>

<div>
  <a th:if="${currentPage > 0}" th:href="@{/items/search(text=${text}, from=${currentPage * size - size}, size=${size})}">Предыдущая страница</a>
  <a th:if="${items.size() == size}" th:href="@{/items/search(text=${text}, from=${currentPage * size + size}, size=${size})}">Следующая страница</a>
</div>
</body>
</html>