<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получение списка вещей, соответствующих погоде</title>
    <link rel="stylesheet" href="/static/style.css" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar">
    <form action="/items/search" method="get">
        <input type="text" name="text"/>
        <button type="submit">Найти</button>
    </form>
    <br>
    <ul>
        <li><a th:href="@{/items/city}">В моем городе делятся</a></li>
        <li><a th:href="@{/items/top}">Сейчас особенно актуально</a></li>
        <li><a th:href="@{/items/owner}">Мои вещи</a></li>
        <li><a th:href="@{/bookings/owner}">Бронирование моих вещей</a></li>
        <li><a th:href="@{/bookings/}">Я забронировал</a></li>
        <li><a th:href="@{/requests/}">Мои запросы</a></li>
        <li><a th:href="@{/requests/all}">Все запросы</a></li>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Выйти">
        </form>
    </ul>
</nav>
<div class="container">
    <div>
        <h4>Актуально</h4>
        <ul>
            <li th:each="item : ${items}">
                <a th:href="@{'/items/' + ${item.getId()}}" th:text="${item.getName()}"></a>
            </li>
        </ul>
    </div>
    <a th:if="${currentPage > 0}" th:href="@{/items/top(from=${currentPage * size - size}, size=${size})}">Предыдущая
        страница</a>
    <a th:if="${items.size() == size}" th:href="@{/items/top(from=${currentPage * size + size}, size=${size})}">Следующая
        страница</a>
</div>
</body>
</html>