<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Получение списка бронирований владельца</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>
<nav class="navbar">
    <form action="/items/search" method="get">
        <input type="text" name="text"/>
        <button type="submit">Найти</button>
    </form>
    <br>
    <ul>
        <li><a th:href="@{/items/city}">В моем городе делятся</a></li>
        <li><a th:href="@{/items/top}">Сейчас особенно актуально</a></li>
        <li><a th:href="@{/items/owner}">Мои вещи</a></li>
        <li><a th:href="@{/bookings/owner}">Бронирование моих вещей</a></li>
        <li><a th:href="@{/bookings/}">Я забронировал</a></li>
        <li><a th:href="@{/requests/}">Мои запросы</a></li>
        <li><a th:href="@{/requests/all}">Все запросы</a></li>
        <form th:action="@{/logout}" th:method="POST">
            <input type="submit" value="Выйти">
        </form>
    </ul>
</nav>
<div class="container">
    <a th:href="@{/bookings/owner(state=CURRENT)}">Текущие бронирования</a>
    <a th:href="@{/bookings/owner(state=PAST)}">Прошедшие бронирования</a>
    <a th:href="@{/bookings/owner(state=FUTURE)}">Будущие бронирования</a>
    <a th:href="@{/bookings/owner(state=WAITING)}">Ожидающие бронирования</a>
    <a th:href="@{/bookings/owner(state=REJECTED)}">Отклоненные бронирования</a>
    <h4>Список бронирований</h4>
    <ul>
        <li th:each="booking : ${bookings}">
            <a th:href="@{'/bookings/' + ${booking.getId()}}" th:text="${booking.getId()}"></a>
        </li>
    </ul>
    <a th:if="${currentPage > 0}"
       th:href="@{/bookings/owner(state=${state},from=${currentPage * size - size}, size=${size})}">Предыдущая
        страница</a>
    <a th:if="${bookings.size() == size}"
       th:href="@{/bookings/owner(state=${state},from=${currentPage * size + size}, size=${size})}">Следующая
        страница</a>
</div>
</body>
</html>