<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Получение бронирования по id</title>
    <link rel="stylesheet" href="/style.css" th:href="@{/style.css}">
</head>
<body>
<h2>Данные о бронировании</h2>

Начало бронирования: <span th:text="${booking.getStart()}"></span><br>
Окончание бронирования: <span th:text="${booking.getEnd()}"></span><br>
Статус бронирования: <span th:text="${booking.getBookingStatus()}"></span>
<div th:if="${booking.getItem().getOwnerId() != userId}">
    <a th:href="@{/users/{userId}(userId=${booking.getItem().getOwnerId()})}">Данные о хозяине</a>
</div>

<div th:if="${booking.getItem().getOwnerId() == userId}">
    <form method="post" th:action="@{/bookings/{bookingId}(bookingId=${booking.getId()}, approved=true)}">
        <input type="hidden" name="_method" value="PATCH"/>
        <button type="submit">Подтвердить бронирование</button>
    </form>
    <form method="post" th:action="@{/bookings/{bookingId}(bookingId=${booking.getId()})(approved=false)}">
        <input type="hidden" name="_method" value="PATCH"/>
        <button type="submit">Отклонить бронирование</button>
    </form>
</div>
</body>
</html>